<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title>江小毒的领地(￣▽￣)／</title>
		<link rel="stylesheet" type="text/css" href="../../../../Public/resource/css/top-icon/iconfont.css" />
		<link rel="stylesheet" type="text/css" href="../../../../Public/resource/css/userbox-icon/iconfont.css" />
		<link rel="stylesheet" type="text/css" href="../../../../Public/resource/css/viewer.min.css" />
		<link rel="stylesheet" type="text/css" href="../../../../Public/resource/js/ueditor/themes/default/css/ueditor.css" />
		<link rel="stylesheet" type="text/css" href="../../../../Public/resource/js/dropdownmenu/dropdownmenu.css" />
		<link rel="stylesheet" type="text/css" href="../../../../Public/resource/js/layer/theme/default/layer.css" />
		<link rel="stylesheet" type="text/css" href="../../../../Public/resource/css/style.css" />
		<link rel="stylesheet" type="text/css" href="../../../../Public/resource/js/highlight/styles/agate.css" />

		<script src="../../../../Public/resource/js/require.js" data-main="../../../../Public/resource/js/require.js"></script>
		<script src="../../../../Public/resource/js/requireconf.js"></script>
	</head>

	<body>
		<!--导航-->
		<div class="nav">
			<div class="container clearfix">
				<ul class="menu-list float-left">
					<li class="iconfont icon-shouye">
						<a href="/Home/index/index.html">首页</a>
					</li>
					<li class="iconfont icon-biji">
						<a href="/Home/index/note.html">笔记</a>
					</li>
				</ul>
				<ul class="setting-list float-right">
					<li class="iconfont icon-user">
						<a href="/Home/index/user-center.html">个人中心</a>
					</li>
					<li class="iconfont icon-suiji">
						<a href="/Home/index/daily.html">记录</a>
					</li>
					<li class="iconfont icon-qiehuanzuhu">
						<a href="#">注销</a>
					</li>
				</ul>
			</div>
		</div>
		<!--头部-->
		<div class="header">
			<div class="user-top container">
				<div class="user-img-circle">
					<img src="../../../../Public/resource/img/login-bg2.jpg" alt="" />
				</div>
				<div class="user-resume">
					<p>乐于探索的灵魂。</p>
				</div>
			</div>
		</div>

		<!--背景-->
		<div class="bg-box">
			<img src="" alt="" />
		</div>

		<!--内容-->
		<div class="container article-box">
			<div>
				<!--列表-->
				<div class="article-list">

					<div class="daily-write-box">
						<ul class="write-tab">
							<li class="active" data-toggle="shuoshuo-write-box">说说</li>
							<li data-toggle="note-write-box">日志</li>
							<li data-toggle="study-write-box">笔记</li>
						</ul>
						<!--说说-->
						<div class="shuoshuo-write-box">
							<form action="/Home/Index/uploadShuoShuo" id="shuoShuoForm" method="post" enctype="multipart/form-data">
								<div class="shuoshuo-write-content">
									<textarea name="content" id="shuoshuo-content" placeholder="这里输入内容~" class="shushuo-text" rows="" cols=""></textarea>
								</div>
								<div class="shuoshuo-write-img">
									<ul class="shuoshuo-img-list">

									</ul>
									<div id="shuoshuo-addimg-form" class="displaynone">

									</div>
									<div class="shuoshuo-addimg"></div>
								</div>
								<div>
									<div class="btn btn-md btn-color-blue2 float-right" id="shuoshuo-submit">发布</div>
								</div>
							</form>
						</div>
						<!--日志-->
						<div class="note-write-box displaynone">
							<div class="ueditor-tool">
								<div class="btn btn-sm btn-color-blue2" id="code-inster-daily">插入代码</div>
							</div>
							<div class="note-ueditor-box">
								<script type="text/plain" id="noteEditor" style="width:840px;height:340px;">

								</script>
							</div>
							<div class="clearfix">
								<div class="btn btn-md btn-color-blue2 float-right" id="note-submit">发布</div>
							</div>
						</div>
						<!--笔记-->
						<div class="study-write-box displaynone">
							<div>
								<input type="text" class="input-text-title" placeholder="新建或选择所属笔记" name="" id="note-newtitle" value="" />
							</div>
							<div>
								<div id="select-first-title"></div>
							</div>
							<div>
								<div id="select-second-title"></div>
							</div>
							<div>
								<input type="text" class="input-text-title" placeholder="请输入笔记标题" name="" id="note-name" value="" />
							</div>
							<div class="ueditor-tool">
								<div class="btn btn-sm btn-color-blue2" id="code-inster-study">插入代码</div>
							</div>
							<div class="note-ueditor-box">
								<script type="text/plain" id="studyEditor" style="width:840px;height:340px;">

								</script>
							</div>
							<div class="clearfix">
								<div class="btn btn-md btn-color-blue2 float-right" id="study-submit">发布</div>
							</div>
						</div>
					</div>

					<!--用户信息-->
					<div class="user-box" style="z-index: 0;margin-top: 32px;">
						<div class="user-img">
							<img src="../../../../Public/resource/img/login-bg2.jpg" alt="" />
						</div>
						<div class="user-name info-select">
							<p>江小毒</p>
						</div>
						<div class="user-qq active info-select">
							<span class="iconfont icon-qq"></span>
							<span>283996718</span>
						</div>
						<div class="user-github info-select">
							<span class="iconfont icon-github"></span>
							<span><a target="_blank" href="https://github.com/XiaoDuJiang">XiaoDuJiang</a><span>
					</div>
					<div class="user-email info-select">
						<span class="iconfont icon-bangdingyouxiang"></span>
							<span>283996718@qq.com</span>
						</div>
						<div class="user-tel info-select">
							<span class="iconfont icon-dianhua"></span>
							<span>13377892216</span>
						</div>
						<div class="user-info-show">
							<p>283996718</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--页脚-->
		<div class="footer">
			<div class="footer-img container"></div>
			<div class="footer-content">
				<div class="container">
					<div class="foot-font">
						版权所有 XiaoDuJiang
					</div>
					<div class="foot-font">
						GitHub
						<a href="https://github.com/XiaoDuJiang">https://github.com/XiaoDuJiang</a>
					</div>
					<div class="foot-font">
						2018-04-25
					</div>
				</div>
			</div>
		</div>
		<!--添加说说 或者添加 日志-->
		<!--说说 文本域  上传图片-->
		<!--日志 富文本域 代码样式-->

		<script src="../../../../Public/resource/js/view/daily.js" type="text/javascript" charset="utf-8"></script>
	</body>

</html>