<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title>江小毒的领地(￣▽￣)／</title>
		<link rel="stylesheet" type="text/css" href="../../../../Public/resource/css/style.css" />
		<link rel="stylesheet" type="text/css" href="../../../../Public/resource/css/top-icon/iconfont.css" />
		<link rel="stylesheet" type="text/css" href="../../../../Public/resource/css/userbox-icon/iconfont.css" />
		<link rel="stylesheet" type="text/css" href="../../../../Public/resource/css/viewer.min.css" />
		<link rel="stylesheet" type="text/css" href="../../../../Public/resource/js/ueditor/themes/default/css/ueditor.css" />

		<script src="../../../../Public/resource/js/require.js" data-main="../../../../Public/resource/js/require.js"></script>
		<script src="../../../../Public/resource/js/requireconf.js"></script>
	</head>

	<body>
		<!--导航-->
		<div class="nav">
			<div class="container clearfix">
				<ul class="menu-list float-left">
					<li class="iconfont icon-shouye">
						<a href="/Home/index/index.html">首页</a>
					</li>
					<li class="iconfont icon-biji">
						<a href="/Home/index/note.html">笔记</a>
					</li>
				</ul>
				<ul class="setting-list float-right">
					<li class="iconfont icon-user">
						<a href="/Home/index/user-center.html">个人中心</a>
					</li>
					<li class="iconfont icon-suiji">
						<a href="/Home/index/daily.html">记录</a>
					</li>
					<li class="iconfont icon-qiehuanzuhu">
						<a href="#">注销</a>
					</li>
				</ul>
			</div>
		</div>
		<!--头部-->
		<div class="header">
			<div class="user-top container">
				<div class="user-img-circle">
					<img src="../../../../Public/resource/img/login-bg2.jpg" alt="" />
				</div>
				<div class="user-resume">
					<p>乐于探索的灵魂。</p>
				</div>
			</div>
		</div>

		<!--背景-->
		<div class="bg-box">
			<img src="" alt="" />
		</div>

		<!--内容-->
		<div class="container article-box">
			<div>
				<!--列表-->
				<div class="article-list">

					<div class="article">
						<div class="studynote-title">
							<a href="#">Vue学习笔记</a>
						</div>
						<div class="clearfix">
							<div class="article-type">笔记</div>
						</div>
						<div class="clearfix">
							<div class="article-time">2018-04-24</div>
						</div>
					</div>
					
					<div class="article">
						<div class="studynote-title">
							<a href="#">RequireJs学习笔记</a>
						</div>
						<div class="clearfix">
							<div class="article-type">笔记</div>
						</div>
						<div class="clearfix">
							<div class="article-time">2018-04-24</div>
						</div>
					</div>
					
					<div class="article">
						<div class="studynote-title">
							<a href="#">HTML5学习笔记</a>
						</div>
						<div class="clearfix">
							<div class="article-type">笔记</div>
						</div>
						<div class="clearfix">
							<div class="article-time">2018-04-24</div>
						</div>
					</div>
					
					<!--分页-->
					<ul class="page-box">
						<li class="page-to">1</li>
						<li>...</li>
						<li class="page-to">3</li>
						<li class="page-to active">4</li>
						<li class="page-to">5</li>
						<li>...</li>
						<li class="page-to">10</li>
					</ul>

					<!--用户信息-->
					<div class="user-box" style="z-index: 0;margin-top: 32px;">
						<div class="user-img">
							<img src="../../../../Public/resource/img/login-bg2.jpg" alt="" />
						</div>
						<div class="user-name info-select">
							<p>江小毒</p>
						</div>
						<div class="user-qq active info-select">
							<span class="iconfont icon-qq"></span>
							<span>283996718</span>
						</div>
						<div class="user-github info-select">
							<span class="iconfont icon-github"></span>
							<span><a target="_blank" href="https://github.com/XiaoDuJiang">XiaoDuJiang</a></span>
						</div>
						<div class="user-email info-select">
							<span class="iconfont icon-bangdingyouxiang"></span>
							<span>283996718@qq.com</span>
						</div>
						<div class="user-tel info-select">
							<span class="iconfont icon-dianhua"></span>
							<span>13377892216</span>
						</div>
						<div class="user-info-show">
							<p>283996718</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--页脚-->
		<div class="footer">
			<div class="footer-img container"></div>
			<div class="footer-content">
				<div class="container">
					<div class="foot-font">
						版权所有 XiaoDuJiang
					</div>
					<div class="foot-font">
						GitHub
						<a href="https://github.com/XiaoDuJiang">https://github.com/XiaoDuJiang</a>
					</div>
					<div class="foot-font">
						2018-04-25
					</div>
				</div>
			</div>
		</div>
		<!--添加说说 或者添加 日志-->
		<!--说说 文本域  上传图片-->
		<!--日志 富文本域 代码样式-->

		<script src="../../../../Public/resource/js/view/note.js" type="text/javascript" charset="utf-8"></script>
	</body>

</html>